@charset "UTF-8";
* { margin: 0; padding: 0; }

.a .box { width: 400px; height: 100px; display: flex; flex-direction: row; align-items: center; border: 1px solid #c3c3c3; }

.a .left { flex-basis: 100px; -webkit-flex-basis: 100px; /* Safari 6.1+ */ background-color: red; height: 100%; }

.a .right { background-color: blue; flex-grow: 1; }

.b #left { float: left; width: 220px; background-color: green; }

.b #content { background-color: orange; margin-left: 220px; /*==等于左边栏宽度==*/ }
